html {
    font-size: 14px;
}

@media (min-width: 768px) {
    html {
        font-size: 16px;
    }
}

.btn:focus, .btn:active:focus, .btn-link.nav-link:focus, .form-control:focus, .form-check-input:focus {
    box-shadow: 0 0 0 0.1rem white, 0 0 0 0.25rem #258cfb;
}

html {
    position: relative;
    min-height: 100%;
}

body {
    margin-bottom: 60px;
}

.card {
    position: relative; /* Necessário para sobreposição */
}

.fixed-size-image {
    width: 125px; /* Ajusta à largura do contêiner pai */
    height: 180px; /* Proporção da imagem */
    object-fit: cover; /* Ajusta a imagem ao contêiner */
    border-radius: 10px; /* Cantos arredondados */
}

.image-overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.6); /* Fundo semi-transparente */
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
    font-size: 1.2rem;
    font-weight: bold;
    opacity: 0;
    transition: opacity 0.3s ease;
    border-radius: 10px;
}

.card {
    flex-shrink: 0;
    border: none;
    overflow: hidden;
}

.card-img-top {
    object-fit: cover;
    height: 200px;
    width: 100%;
}

.container {
    max-width: 100%;
}

.d-flex {
    gap: 10px;
}



